.header {
    background: url('../../img/mapas/baixada-santista-do-espaco.jpg') no-repeat center;
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 120px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
}

.header-container .logo {
    margin-right: 40px;
}

.header-titulo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: end;
}

.header-titulo h1, .header-titulo span {
    padding: 0 12px;
}

.header-titulo span {
    margin-bottom: 60px;
}

.header .header-menu .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu .menu a {
    color: var(--cor12);
    font: var(--font-1-m-b);
    padding: 12px;
    transition: .3s;
    position: relative;
}

.header-menu .menu a:hover {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}

@media (max-width: 800px) {
    .header {
        height: 600px;
        margin-bottom: 60px;
    }

    .header-container {
        flex-direction: column;
    }

    .header-container .logo {
        padding-bottom: 20px;
    }

    .header .header-menu .menu {
        padding-bottom: 20px;
    }

    .header-titulo h1 {
        font: var(--font-1-xl);
    }

    .header-titulo span {
        margin-bottom: 30px;
    }
}