.municipios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}

.municipios h2 {
    margin-bottom: 32px;
    position: relative;
    display: flex;
    align-items: center;
}

.municipios h2::before {
    content: '';
    width: 20px;
    height: 8px;
    display: inline-block;
    background: var(--icon-gradient);
    position: absolute;
    left: -24px;
}


.municipios-conteudo {
    grid-column: 2;
}

.municipios-conteudo p + p{
    margin-top: 20px;
}

.galeria-imagens {
    grid-column: 1;
    grid-row: 1;
    border-right: 2px solid var(--cor11);
}

.galeria-bandeiras {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.galeria-bandeiras > img {
    max-width: 210px;
    margin: auto;
}